{
    "openapi": "3.0.1",
    "info": {
        "title": "Datahub Codeprovider API",
        "description": "Codes, Replicated SAP CO (Custom Objects) data, GSDA, ConsumerViews",
        "contact": {
            "name": "Valletta",
            "url": "https://confluence.bit.admin.ch/x/cBCxB",
            "email": "devopsvalletta@ezv.admin.ch"
        }
    },
    "externalDocs": {
        "url": "https://confluence.bit.admin.ch/x/WwWEC"
    },
    "servers": [
        {
            "url": "https://ref-datahub-internal.bazg.admin.ch/datahub-codeprovider",
            "description": "Generated server url"
        }
    ],
    "security": [
        {
            "OIDC": [
                
            ]
        }
    ],
    "tags": [
        {
            "name": "DataHub Codelisten Consumer View API",
            "description": "Nationale Codelisten im Warenverkehr.",
            "externalDocs": {
                "url": "https://confluence.bit.admin.ch/x/hGG0F"
            }
        },
        {
            "name": "Datahub ConsumerViews Meta-Information API",
            "description": "Returns insight into consumer view configuration and refresh state",
            "externalDocs": {
                "url": "https://confluence.bit.admin.ch/x/o0DFEg"
            }
        },
        {
            "name": "Datahub Tariffs API",
            "description": "Verschiedene Endpunkte zum Arbeiten mit Tarifnummern",
            "externalDocs": {
                "url": "https://confluence.bit.admin.ch/x/56R8Eg"
            }
        },
        {
            "name": "Datahub Countries API",
            "description": "Informationen zu Zolltarifdaten: L\u00e4nder und L\u00e4ndergruppenzuweisungen abholen.",
            "externalDocs": {
                "url": "https://confluence.bit.admin.ch/x/GjmFG"
            }
        },
        {
            "name": "Datahub Customs Offices API",
            "description": "Alles was nationale Dienststellen betrifft",
            "externalDocs": {
                "url": "https://confluence.bit.admin.ch/x/PwQaEw"
            }
        },
        {
            "name": "Datahub CO Sync API",
            "description": "Synchronisation von Custom Objects Listen aus SAP",
            "externalDocs": {
                "url": "https://confluence.bit.admin.ch/x/mQ7IDQ"
            }
        },
        {
            "name": "DataHub approved places Consumer View API",
            "description": "Informationen zum zugelassenen Ort (ZO) abholen.",
            "externalDocs": {
                "url": "https://confluence.bit.admin.ch/x/0zp4FQ"
            }
        },
        {
            "name": "Datahub Codeprovider API",
            "description": "Search Codes (masterdata) like countries containing a generic structure of the id of the code, the domain / group, translations for de,fr,it,en and a temporal valid range."
        },
        {
            "name": "Datahub Vats API",
            "description": "Alles was Mehrwertsteuer betrifft",
            "externalDocs": {
                "url": "https://confluence.bit.admin.ch/x/Q6l8Eg"
            }
        },
        {
            "name": "Actuator",
            "description": "Monitor and interact",
            "externalDocs": {
                "description": "Spring Boot Actuator Web API Documentation",
                "url": "https://docs.spring.io/spring-boot/docs/current/actuator-api/html/"
            }
        },
        {
            "name": "Datahub CO Search API",
            "description": "Suche von Custom Objects Listen aus SAP",
            "externalDocs": {
                "url": "https://confluence.bit.admin.ch/x/mQ7IDQ"
            }
        },
        {
            "name": "LSVA API",
            "description": "Everything that concerns national services",
            "externalDocs": {
                "url": "https://confluence.bit.admin.ch/x/PwQaEw"
            }
        }
    ],
    "paths": {
        "/api/customobjects/replications": {
            "put": {
                "tags": [
                    "custom-objects-replication-controller"
                ],
                "summary": "Receives the sync status of a replication",
                "operationId": "updateStatus",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomObjectsReplicationStatusDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomObjectsReplicationStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customobjects/list/{listName}/log": {
            "get": {
                "tags": [
                    "custom-objects-log-controller"
                ],
                "operationId": "getLog_1",
                "parameters": [
                    {
                        "name": "listName",
                        "in": "path",
                        "description": "Custom Object(s) List/Table Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ZDA_TARF_NDS"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomObjectsLogDto"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "custom-objects-log-controller"
                ],
                "operationId": "updateLog",
                "parameters": [
                    {
                        "name": "listName",
                        "in": "path",
                        "description": "Custom Object(s) List/Table Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ZDA_TARF_NDS"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomObjectsLogDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/consumer-views-status/{consumerViewName}/{replicationId}/force-refresh": {
            "put": {
                "tags": [
                    "Datahub ConsumerViews Meta-Information API"
                ],
                "summary": "Force a refresh of the given consumer view with the current data. Not used in production. DevOps only.",
                "operationId": "forceRefresh",
                "parameters": [
                    {
                        "name": "consumerViewName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "replicationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "deprecated": true
            }
        },
        "/api/tariffs/masterdata": {
            "get": {
                "tags": [
                    "Datahub Tariffs API"
                ],
                "summary": "Provide customs tariff master data to the partner",
                "operationId": "getTariffMasterData",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/zip": {
                                "schema": {
                                    "$ref": "#/components/schemas/StreamingResponseBody"
                                }
                            },
                            "application/octet-stream": {
                                "schema": {
                                    "$ref": "#/components/schemas/StreamingResponseBody"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Datahub Tariffs API"
                ],
                "summary": "Providing filtered tariff master data by tariff number for the partner",
                "operationId": "getFilteredTariffMasterData",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CommodityCode"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customobjects/v2/sync": {
            "post": {
                "tags": [
                    "Datahub CO Sync API"
                ],
                "summary": "Sync paginated custom objects lists (GZIP compressed payload)",
                "operationId": "syncCustomObjectsListPaginatedWithCompressedPayload",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomObjectsSyncGZipDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/customobjects/sync": {
            "post": {
                "tags": [
                    "Datahub CO Sync API"
                ],
                "summary": "Sync paginated custom objects lists. Note: List name is supplied as object key, but only one list can be synced at once.",
                "operationId": "syncCustomObjectsListPaginated",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CustomObjectsSyncDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            }
        },
        "/api/customobjects/devops/fakeevents/publishCustomObjectsTableUpdatedEvent/{replicationId}/{listName}": {
            "post": {
                "tags": [
                    "custom-objects-devops-controller"
                ],
                "operationId": "publishCustomObjectsTableUpdatedEvent",
                "parameters": [
                    {
                        "name": "replicationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "deprecated": true
            }
        },
        "/api/customobjects/devops/fakeevents/publishCustomObjectsRefreshedEvent/{replicationId}": {
            "post": {
                "tags": [
                    "custom-objects-devops-controller"
                ],
                "operationId": "publishCustomObjectsRefreshedEvent",
                "parameters": [
                    {
                        "name": "replicationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "deprecated": true
            }
        },
        "/api/customobjects/devops/fakeevents/publishCustomObjectsListReceivedEvent/{replicationId}/{listName}": {
            "post": {
                "tags": [
                    "custom-objects-devops-controller"
                ],
                "operationId": "publishCustomObjectsListReceivedEvent",
                "parameters": [
                    {
                        "name": "replicationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "deprecated": true
            }
        },
        "/api/customobjects/devops/fakeevents/publishCustomObjectsListPageReceivedEvent/{replicationId}/{listName}": {
            "post": {
                "tags": [
                    "custom-objects-devops-controller"
                ],
                "description": "Use this with a non-existant replication id to trigger an event processing error!",
                "operationId": "publishCustomObjectsListPageReceivedEvent",
                "parameters": [
                    {
                        "name": "replicationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "listName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "deprecated": true
            }
        },
        "/api/customobjects/devops/fakeevents/publishConsumerViewRefreshedEvent/{consumerViewName}": {
            "post": {
                "tags": [
                    "custom-objects-devops-controller"
                ],
                "operationId": "publishConsumerViewRefreshedEvent",
                "parameters": [
                    {
                        "name": "consumerViewName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "deprecated": true
            }
        },
        "/api/customobjects/devops/fakeevents/publishConsumerViewDependenciesUpdatedEvent/{replicationId}/{consumerViewName}": {
            "post": {
                "tags": [
                    "custom-objects-devops-controller"
                ],
                "operationId": "publishConsumerViewDependenciesUpdatedEvent",
                "parameters": [
                    {
                        "name": "replicationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "consumerViewName",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                },
                "deprecated": true
            }
        },
        "/api/approved-places": {
            "get": {
                "tags": [
                    "DataHub approved places Consumer View API"
                ],
                "summary": "Find all approved places. Result is in unspecified order.",
                "externalDocs": {
                    "url": "https://confluence.bit.admin.ch/pages/viewpage.action?pageId=360200915"
                },
                "operationId": "getAllApprovedPlaces",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApprovedPlaceDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "DataHub approved places Consumer View API"
                ],
                "summary": "Best-effort attempt to find the approved places by their ids. Result is in unspecified order and may have fewer entries. ",
                "externalDocs": {
                    "url": "https://confluence.bit.admin.ch/pages/viewpage.action?pageId=360200915"
                },
                "operationId": "getApprovedPlaces",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string",
                                "description": "List of approved place ids (Zugelassener Ort ID, zotId)",
                                "example": [
                                    "ZO1000000001",
                                    "ZO1000000002"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ApprovedPlaceDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/actuator/togglz/{name}": {
            "get": {
                "tags": [
                    "Actuator"
                ],
                "summary": "Actuator web endpoint 'togglz-name'",
                "operationId": "togglz-name",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/vnd.spring-boot.actuator.v3+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.spring-boot.actuator.v2+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Actuator"
                ],
                "summary": "Actuator web endpoint 'togglz-name'",
                "operationId": "togglz-name_2",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/vnd.spring-boot.actuator.v3+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/vnd.spring-boot.actuator.v2+json": {
                                "schema": {
                                    "type": "object"
                                }
                            },
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/vats/{vatCode}": {
            "get": {
                "tags": [
                    "Datahub Vats API"
                ],
                "summary": "Aufl\u00f6sung eines Mehrwertsteuercode auf einen Mehrtwertsteueransatz",
                "operationId": "searchVats",
                "parameters": [
                    {
                        "name": "vatCode",
                        "in": "path",
                        "description": "Mehrwertsteuercode",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "effectiveDate",
                        "in": "query",
                        "description": "Stichdatum. Standard: Heutiges Datum. Format: yyyy-MM-dd",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/VatDto"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tariffs/{tnr}": {
            "get": {
                "tags": [
                    "Datahub Tariffs API"
                ],
                "summary": "Beschreibung eines Tarifs",
                "operationId": "getTarif",
                "parameters": [
                    {
                        "name": "tnr",
                        "in": "path",
                        "description": "Tarifnummer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "effectiveDate",
                        "in": "query",
                        "description": "Stichdatum. Standard: Heutiges Datum. Format: yyyy-MM-dd",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TariffsSelftextDto"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tariffs/{tnr}/purposes": {
            "get": {
                "tags": [
                    "Datahub Tariffs API"
                ],
                "summary": "Resolution of purposes for tariffs",
                "operationId": "searchPurposesByTnr",
                "parameters": [
                    {
                        "name": "tnr",
                        "in": "path",
                        "description": "Tarifnummer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "zar",
                        "in": "query",
                        "description": "Zollbeg\u00fcnstigungs Artencode",
                        "required": false,
                        "schema": {
                            "maxLength": 1,
                            "minLength": 0,
                            "type": "string"
                        }
                    },
                    {
                        "name": "effectiveDate",
                        "in": "query",
                        "description": "Stichdatum. Standard: Heutiges Datum. Format: yyyy-MM-dd",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TariffsPurposesDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tariffs/{tnr}/children": {
            "get": {
                "tags": [
                    "Datahub Tariffs API"
                ],
                "summary": "Beschreibung der direkten untergeordneten Tarife eines Tarifs",
                "operationId": "getChildrenOfTarif",
                "parameters": [
                    {
                        "name": "tnr",
                        "in": "path",
                        "description": "Tarifnummer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "effectiveDate",
                        "in": "query",
                        "description": "Stichdatum. Standard: Heutiges Datum. Format: yyyy-MM-dd",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TariffsSelftextDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tariffs/{tn8Num}/control-codes": {
            "get": {
                "tags": [
                    "Datahub Tariffs API"
                ],
                "summary": "Validierung bei der Erfassung von Tarifnummern und Steuerungselemente. Liefert ein Array von Steuerungs-Codes zu einer TN8",
                "operationId": "searchControlCodes",
                "parameters": [
                    {
                        "name": "tn8Num",
                        "in": "path",
                        "description": "Tarifnummer (9-stellig)",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tn8Vkr",
                        "in": "query",
                        "description": "Verkehrsrichtung ('I' oder 'E')",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "effectiveDate",
                        "in": "query",
                        "description": "Stichdatum. Standard: Heutiges Datum. Format: yyyy-MM-dd",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TariffsControlCodesDto"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tariffs/purposes": {
            "get": {
                "tags": [
                    "Datahub Tariffs API"
                ],
                "summary": "Resolution of all purposes for tariffs",
                "operationId": "searchPurposes",
                "parameters": [
                    {
                        "name": "zar",
                        "in": "query",
                        "description": "Zollbeg\u00fcnstigungs Artencode",
                        "required": false,
                        "schema": {
                            "maxLength": 1,
                            "minLength": 0,
                            "type": "string"
                        }
                    },
                    {
                        "name": "effectiveDate",
                        "in": "query",
                        "description": "Stichdatum. Standard: Heutiges Datum. Format: yyyy-MM-dd",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TariffsPurposesDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tariffs/masterdata/schema": {
            "get": {
                "tags": [
                    "Datahub Tariffs API"
                ],
                "summary": "Provide customs tariff master data XML schema to the partner",
                "operationId": "getTariffMasterDataSchema",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tariffs/chapters": {
            "get": {
                "tags": [
                    "Datahub Tariffs API"
                ],
                "summary": "Liste aller bewilligten Kapitel und deren Beschreibung",
                "operationId": "getChaptersSelftexts",
                "parameters": [
                    {
                        "name": "effectiveDate",
                        "in": "query",
                        "description": "Stichdatum. Standard: Heutiges Datum. Format: yyyy-MM-dd",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TariffsSelftextDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tariffs/chapters/{tnr}": {
            "get": {
                "tags": [
                    "Datahub Tariffs API"
                ],
                "summary": "Beschreibung eines Kapitels",
                "operationId": "searchChapterSelftexts",
                "parameters": [
                    {
                        "name": "tnr",
                        "in": "path",
                        "description": "Tarifnummer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "effectiveDate",
                        "in": "query",
                        "description": "Stichdatum. Standard: Heutiges Datum. Format: yyyy-MM-dd",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TariffsSelftextDto"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/tariffs/chapters/{tnr}/children": {
            "get": {
                "tags": [
                    "Datahub Tariffs API"
                ],
                "summary": "Beschreibung aller untergeordneten Tarife (TN4) eines Kapitels",
                "operationId": "getChildrenOfChapter",
                "parameters": [
                    {
                        "name": "tnr",
                        "in": "path",
                        "description": "Tarifnummer",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "effectiveDate",
                        "in": "query",
                        "description": "Stichdatum. Standard: Heutiges Datum. Format: yyyy-MM-dd",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/TariffsSelftextDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/lsva/vnedistances": {
            "get": {
                "tags": [
                    "LSVA API"
                ],
                "summary": "Highly available provision of the value for kilometers driven for discretionary assessment.",
                "operationId": "getAllVneDistances",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LsvaVneDistancesDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/lsva/tariffs": {
            "get": {
                "tags": [
                    "LSVA API"
                ],
                "summary": "Query of the truck heavy traffic tax",
                "operationId": "getLsvaTar",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LsvaTariffsDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/lsva/tarifforders": {
            "get": {
                "tags": [
                    "LSVA API"
                ],
                "summary": "List of Tariff Orders",
                "operationId": "getTariffOrders",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LsvaTariffOrderDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/lsva/nationallimits": {
            "get": {
                "tags": [
                    "LSVA API"
                ],
                "summary": "Information on the national weight limit in the domain Heavy-Vehicle-Submission LSVA",
                "operationId": "getLsvaNal",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LsvaNationallimitsDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/lsva/euroclasses": {
            "get": {
                "tags": [
                    "LSVA API"
                ],
                "summary": "Tax rates in the domain Heavy Vehicle Fee HVF depending on the emission levels (Euro classes).",
                "operationId": "getAllLsvaEuk",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/LsvaEuroclassesDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/gsda/replications/{replicationId}/status": {
            "get": {
                "tags": [
                    "gsda-replication-controller"
                ],
                "summary": "Checks the replication sync status",
                "operationId": "status",
                "parameters": [
                    {
                        "name": "replicationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/GsdaReplicationStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/gsda/replications/latest/status": {
            "get": {
                "tags": [
                    "gsda-replication-controller"
                ],
                "summary": "Checks the replication sync status for the latest received replication",
                "operationId": "statusLatest",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/GsdaReplicationStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/gsda/list/{gsdaListName}": {
            "get": {
                "tags": [
                    "gsda-list-controller"
                ],
                "operationId": "getList",
                "parameters": [
                    {
                        "name": "gsdaListName",
                        "in": "path",
                        "description": "GSD/GSDA List Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ANSATZ"
                    },
                    {
                        "name": "pageable",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/Pageable"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service unavailable (no valid replication at the moment)",
                        "content": {
                            "application/json": {
                                
                            }
                        }
                    }
                }
            }
        },
        "/api/gsda/list/{gsdaListName}/log": {
            "get": {
                "tags": [
                    "gsda-log-controller"
                ],
                "operationId": "getLog",
                "parameters": [
                    {
                        "name": "gsdaListName",
                        "in": "path",
                        "description": "GSD/GSDA List Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ANSATZ"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GsdaLogDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/gsda/list/listnames": {
            "get": {
                "tags": [
                    "gsda-list-controller"
                ],
                "summary": "List all available GSDA list names",
                "operationId": "getGsdaListNames",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customs-offices": {
            "get": {
                "tags": [
                    "Datahub Customs Offices API"
                ],
                "summary": "Abfrage aller nationalen Dienststellen",
                "operationId": "getCustomsOffices",
                "parameters": [
                    {
                        "name": "ndkCode",
                        "in": "query",
                        "description": "Kompetenz der Zollstelle (ACT, PER)",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string",
                                "enum": [
                                    "ACT",
                                    "PER"
                                ]
                            }
                        }
                    },
                    {
                        "name": "effectiveDate",
                        "in": "query",
                        "description": "Stichdatum der Dienststelle. Standard: Heutiges Datum. Format: yyyy-MM-dd",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CustomsOfficeDto"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid query parameter name or field in sort",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Authentication is missing for this request"
                    },
                    "404": {
                        "description": "Entity not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Insufficient authorization, see application role of the endpoint",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorDetails"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customobjects": {
            "get": {
                "tags": [
                    "Datahub CO Search API"
                ],
                "summary": "Search multiple custom object lists",
                "operationId": "searchMultipleCustomObjectList",
                "parameters": [
                    {
                        "name": "listNames",
                        "in": "query",
                        "description": "Custom Objects List/Table Names",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "example": [
                            "ZDA_TARF_NDS",
                            "ZDA_TARF_MWS"
                        ]
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service unavailable (no valid replication at the moment)",
                        "content": {
                            "application/json": {
                                
                            }
                        }
                    }
                }
            }
        },
        "/api/customobjects/{listName}": {
            "get": {
                "tags": [
                    "Datahub CO Search API"
                ],
                "summary": "Search custom objects list",
                "operationId": "searchCustomObjectList",
                "parameters": [
                    {
                        "name": "listName",
                        "in": "path",
                        "description": "Custom Object(s) List/Table Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ZDA_TARF_NDS"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 0
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32",
                            "default": 5000
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service unavailable (no valid replication at the moment)",
                        "content": {
                            "application/json": {
                                
                            }
                        }
                    }
                }
            }
        },
        "/api/customobjects/{listName}/filter": {
            "get": {
                "tags": [
                    "Datahub CO Search API"
                ],
                "summary": "filter custom objects list",
                "operationId": "filterCustomObjectList",
                "parameters": [
                    {
                        "name": "listName",
                        "in": "path",
                        "description": "Custom Object(s) List/Table Name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "ZDA_TARF_NDS"
                    },
                    {
                        "name": "attributeName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "attributeValue",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service unavailable (no valid replication at the moment)",
                        "content": {
                            "application/json": {
                                
                            }
                        }
                    }
                }
            }
        },
        "/api/customobjects/replications/{replicationId}/status": {
            "get": {
                "tags": [
                    "custom-objects-replication-controller"
                ],
                "summary": "Checks the replication sync status",
                "operationId": "status_1",
                "parameters": [
                    {
                        "name": "replicationId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomObjectsReplicationStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customobjects/replications/latest/status": {
            "get": {
                "tags": [
                    "custom-objects-replication-controller"
                ],
                "summary": "Checks the replication sync status for the latest replication",
                "operationId": "statusLatest_1",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CustomObjectsReplicationStatusDto"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/customobjects/listnames": {
            "get": {
                "tags": [
                    "Datahub CO Search API"
                ],
                "summary": "List all available Custom Objects list names",
                "operationId": "getCustomObjectsListNames",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/countries/with-group-assignments": {
            "get": {
                "tags": [
                    "Datahub Countries API"
                ],
                "summary": "Countries with Group Assignments.",
                "operationId": "getCountriesWithGroupAssignments",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
[...]
